@use "variables" as*;

body {
   background-color: $clr-white-off;
   margin: 0 auto;
}

.wrapper-wide {
   width: 80%;
   margin: 0 auto;
   max-width: 1024px;
}

.wrapper-narrow {
   width: 60%;
}


ul {
   margin: 0;
   list-style-position: inside;
   list-style-type: none;
   padding: 0;
}

a {
   text-decoration: none;
   
}