@use "variables" as*;

header {
   background-color: $clr-accent-header;
   height: 100vh;
}

nav {
   display: flex;
   justify-content: center;
   padding-top: 30px;
   ul {
      display: flex;
      justify-content: space-between; 
      @media (max-width: 600px) {
         flex-direction: column;
         align-items: center;
         position: absolute;
         left: 50%;
         top: -100vh;
      }
      
      li {
         color: $clr-white-off;
         &:visited {
            color: $clr-white;
         }
      }
   }
   button {
      background-color: inherit;
      position: absolute;
      right: 20px;
   }
   .mobile-nav {
      @media (max-width: 600px) {
         top: 4vh;
      }
   }
}


.header-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 90%;
   h1 {
      margin: 10px;
   }
   p {
      margin: 10px;
      text-align: center;
   }
   button {
      margin: 10px;
   }
}

.desktop-hidden {
   @media (min-width: 601px) {
      display: none
   }
}

.mobile-hidden {
   @media (max-width: 600px) {
      display: none;
   }
}

.mobile-icon-visibility {
   display: none;
}

