@use "variables" as*;

header {
   background-color: $clr-accent-header;
   height: 100vh;
}

nav {
   display: flex;
   justify-content: center;
   padding-top: 30px;
   ul {
      display: flex;
      justify-content: space-between; 
      // @media (max-width: 600px) {
      //    flex-direction: column;
      //    align-items: flex-end;
      //    position: absolute;
      //    right: 10;
      // }
      li {
         color: $clr-white-off;
         &:visited {
            color: $clr-white;
         }
      }
   }
}

.header-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 90%;
   h1 {
      margin: 10px;
   }
   p {
      margin: 10px;
      text-align: center;
   }
   button {
      margin: 10px;
   }
}

.desktop-hidden {
   @media (min-width: 600px) {
      display: none
   }
}

.mobile-hidden {
   @media (max-width: 600px) {
      display: none;
   }
}