@use "variables" as*;

header {
   background-color: $clr-accent-header;
   height: 50vh;
}

nav {
   display: flex;
   justify-content: center;
   padding-top: 30px;
   ul {
      display: flex;
      justify-content: space-around; 
   }
}

.header-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 90%;
   h1 {
      margin: 10px;
   }
   p {
      margin: 10px
   }
   button {
      margin: 10px;
   }
}


