@use "variables" as*;
body {
   background-color: $clr-white-off;
}

// about-me section

.about-me {
   display: flex;
   justify-content: center;
   align-items: center;
}
.about-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 80px 0;
}

img.portrait {
   border-radius: 50%;
   margin-top: 20px;
   margin-bottom: 10px;
   height: 130px;
   width: auto;
   }
   

// skills section
.skills {
   background-color: $clr-base-dk;
   padding: 80px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   .skills-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   } 
   ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
   }
}

div .icon-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 20px;
   
   p {
      display: inline-block;
   }
   i {
      display: inline-block;
      margin: 5px;
      }
}


.contact {
   background-color: $clr-base-lt;
}