@use "variables" as*;

html {
   font-family: $primary-font;
   font-size: 125%;
   color: $clr-white-off;
}

body {
   line-height: 1.6;
}

h1, h2, h3, button, a, .skill-p {
   font-family: $secondary-font;
   line-height: 1.1;
}

h1 {
   font-size: 3rem;
}

h2 {
   font-size: 2rem;
   margin: 10px 0;
}

h3 {
   font-size: 1.5;
}

h4 {
   font-size: 0.8rem;
   text-transform: uppercase;
   color: $clr-base-dk;
}

a, button  {
   font-size: 0.9rem;
}

.header-p {
font-size: 1.2rem;
}

nav a {
   color: $clr-white-off;
}

.about-me, .projects {
   color: $clr-black;
}

section.skills i {
   font-size: 4rem;
}

.skill-p {
 text-transform: uppercase;
 font-size: 0.9rem;
}


.contact {
   i {
      color: $clr-white-off;
      font-size: 1rem;
   } 
   h2 {
   color: $clr-black;
   }
   p {
      color: $clr-black;
   }

}

footer {
   p {
      font-family: $primary-font;
      font-size: 0.8rem;
      font-weight: lighter;
   }
}