//color palette

$clr-accent: #d0f4de;
$clr-accent-lt: #d0f4de;
$clr-accent-header: #6154F2;
$clr-base-dk: #6154F2;
$clr-base-lt: #eaeaf9;
$clr-white-off: #f6f6f6;
$clr-white: #FFFFFF;
$clr-black: #14070E;
$clr-visited: lightgray;

//fonts

$primary-font: 'Lora', serif;
$secondary-font: 'Roboto', sans-serif;

