//color palette

$clr-accent: #dad873;
$clr-accent-lt: #efeeb4;
$clr-accent-header: #454d66;
$clr-base-lt: #58b368;
$clr-base-dk: #309975;
$clr-white-off: #f6f6f6;
$clr-black: #14070E;

//fonts

$primary-font: 'Lora', serif;
$secondary-font: 'Roboto', sans-serif;

