//color palette

$clr-accent: #f6a546;
$clr-accent-lt: rgb(243, 196, 142);
$clr-accent-header: #6154f2;
$clr-base-dk: #6154f2;
$clr-base-lt: #eaeaf9;
$clr-white-off: #f6f6f6;
$clr-white: #ffffff;
$clr-black: #14070e;
$clr-visited: lightgray;

//fonts

$primary-font: "Lora", serif;
$secondary-font: "Roboto", sans-serif;
